body {
    background-color: gray;
}
.trafficLight {
    width: 5rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem;
    gap: 1rem;
}

.light {
    background-color: red;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}