body {
    background-color: darkgrey;
}
div.trafficLight {
    width: 3rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 1rem;
    gap: 1rem;
}

div.light {
    background-color: red;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}